@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
button{
  cursor: pointer;
}

body {
  font-family: var(--font-poppins), sans-serif;
  min-width: 350px;
}
@theme {
 
  
  /* Brand Color Definition */
  --color-brand: #5145F1;
  --color-brand-accent: #0F172A;
  --color-brand-mute: #EEF2FF; 
  --color-brand-bg: #F8FAFC; 
}

/* header */
.navLinks .active{
  border-bottom: 2px solid var(--primary-color);
  color: #000
}
@media(max-width:768px){
  .desktop_nav_links{
    display: none;
  }
}